body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("Designer.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position:relative ;
}

.b {
    margin-right: 20px; /* مسافة بين قائمة اللغة وقائمة الهمبرغر */
    border-radius: 10px;
    size: 20px;
}

.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: none; /* إخفاء القائمة افتراضيًا */
    flex-direction: column;
    position: absolute;
    top: 60px; /* ارتفاع navbar */
    right: 0;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.nav-links.show {
    display: flex; /* عرض القائمة عند التفعيل */
}
.story{
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(163, 7, 7);
    height: auto;
}
.img {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 70px;
    width: 100px;
}
.content {
    display: none; /* إخفاء المحتوى بشكل افتراضي */
    margin-top: 10px;
}

.arrow {
    cursor: pointer;
    font-size: 20px; /* حجم السهم */
    margin-right: 5px;
}
p{
    font-size: 25px;
}
.nom{
    font-size: 30px;
    font-weight: 100;
}
h6{
  margin: auto;
}

